/* styles.css */

.rounded-button {
    -fx-background-color: #FFFFFF; /* Background color */
    -fx-background-radius: 20; /* Corner radius */
    -fx-border-radius: 20; /* Border radius */
    -fx-padding: 10 20; /* Padding */
    -fx-text-fill: #1A202C; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
    -fx-border-color: rgba(0, 0, 0, 0.1); /* Border color with reduced opacity */
    -fx-border-width: 2px; /* Border width */
    -fx-cursor: hand;
}

 .text-field {
    -fx-prompt-text-fill: grey;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10;
    -fx-background-color: #BBDEFB;
}

.viewad {
    -fx-background-color: #79B6FF; /* Background color */
    -fx-background-radius: 20; /* Corner radius */
    -fx-cursor: hand;
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 10px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
}

.rounded-button1 {
    -fx-background-color: #79B6FF; /* Background color */
    -fx-background-radius: 20; /* Corner radius */
    -fx-padding: 10 20; /* Padding */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
    -fx-cursor: hand;
}

.image-with-border {
    -fx-border-color: rgba(255, 165, 0, 0.5); /* Border color with reduced opacity (orange in this example) */
    -fx-border-width: 5px; /* Border width */
}
/* styles.css */

.rounded-button {
    -fx-background-color: #FFFFFF; /* Background color */
    -fx-background-radius: 20; /* Corner radius */
    -fx-border-radius: 20; /* Border radius */
    -fx-padding: 10 20; /* Padding */
    -fx-text-fill: #1A202C; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
    -fx-border-color: rgba(0, 0, 0, 0.1); /* Border color with reduced opacity */
    -fx-border-width: 2px; /* Border width */
    -fx-cursor: hand;
}

 .text-field {
    -fx-prompt-text-fill: grey;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10;
    -fx-background-color: #BBDEFB;
}

.viewad {
    -fx-background-color: #79B6FF; /* Background color */
    -fx-background-radius: 20; /* Corner radius */
    -fx-cursor: hand;
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 10px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
}

.rounded-button1 {
    -fx-background-color: #79B6FF; /* Background color */
    -fx-background-radius: 20; /* Corner radius */
    -fx-padding: 10 20; /* Padding */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
    -fx-cursor: hand;
}

.image-with-border {
    -fx-border-color: rgba(255, 165, 0, 0.5); /* Border color with reduced opacity (orange in this example) */
    -fx-border-width: 5px; /* Border width */
}
